header {

    background-image: url("massa-de-tagliatelle-cru-perto-e-ingredientes-e-molho-de-tomate-sobre-o-plano-de-fundo-texturizado-de-madeira.jpg");
    background-position: 70px -430px;
    background-size: cover;
    color: #000000;
    text-align: center;

    padding: 60px;

}